# Data Analysis

Create Path to Import *.py files (not needed in "index.ipynb")

In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

#### Import Libraries

In [2]:
import time
from codes.preprocessing import read_csv
import pandas as pd
pd.options.display.max_columns = None

In [3]:
pd.options.display.max_rows = 100

Time to load "Acquisition" (sec):  4.5963
<br>Time to load "Performance" (sec):  78.4553

In [24]:
start_time = time.time()
acquisition_df = read_csv('Acquisition')
print(f'Time to load "Acquisition" {round(time.time()-start_time,4)} seconds')
start_time = time.time()
performance_df = read_csv('Performance')
print(f'Time to load "Performance" {round(time.time()-start_time,4)} seconds')

Time to load "Acquisition" 5.1824 seconds
Time to load "Performance" 74.8475 seconds

,id,channel,seller,interest_rate,balance,loan_term,origination_date,ltv,cltv,borrower_count,dti,borrower_score,first_time_homebuyer,loan_purpose,property_type,unit_count,occupancy_type,property_state,insurance_percentage,product_type,coborrower_score,insurance_type,relocation_flag
0,100001040173,R,QUICKEN LOANS INC.,4.25,453000,360,01/2018,65,65.0,1,28.0,791.0,N,C,PU,1,P,OH,NaN,FRM,NaN,NaN,N
1,100002370993,C,"WELLS FARGO BANK, N.A.",4.25,266000,360,01/2018,80,80.0,2,41.0,736.0,N,R,PU,1,P,IN,NaN,FRM,793.0,NaN,N
2,100005405807,R,PMTT4,3.99,233000,360,12/2017,79,79.0,2,48.0,696.0,N,R,SF,1,P,CA,NaN,FRM,665.0,NaN,N

,id,reporting_period,servicer_name,interest_rate,balance,loan_age,months_to_maturity,adj_months_to_maturity,maturity_date,msa,delinquency_status,modification_flag,zero_balance_code,zero_balance_date,last_paid_installment_date,foreclosure_date,disposition_date,foreclosure_costs,property_repair_costs,recovery_costs,misc_costs,tax_costs,sale_proceeds,repurchase_proceeds,make_whole_flag,foreclosure_writeoff,activity_flag
0,100001040173,02/01/2018,QUICKEN LOANS INC.,4.25,NaN,0,360,360.0,02/2048,18140,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,100001040173,03/01/2018,NaN,4.25,NaN,1,359,359.0,02/2048,18140,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,100001040173,04/01/2018,NaN,4.25,NaN,2,358,358.0,02/2048,18140,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [26]:
display(acquisition_df.head(5))
display(performance_df.head(5))

,id,channel,seller,interest_rate,balance,loan_term,origination_date,ltv,cltv,borrower_count,dti,borrower_score,first_time_homebuyer,loan_purpose,property_type,unit_count,occupancy_type,property_state,insurance_percentage,product_type,coborrower_score,insurance_type,relocation_flag
0,100001040173,R,QUICKEN LOANS INC.,4.25,453000,360,01/2018,65,65.0,1,28.0,791.0,N,C,PU,1,P,OH,NaN,FRM,NaN,NaN,N
1,100002370993,C,"WELLS FARGO BANK, N.A.",4.25,266000,360,01/2018,80,80.0,2,41.0,736.0,N,R,PU,1,P,IN,NaN,FRM,793.0,NaN,N
2,100005405807,R,PMTT4,3.99,233000,360,12/2017,79,79.0,2,48.0,696.0,N,R,SF,1,P,CA,NaN,FRM,665.0,NaN,N
3,100008071646,R,OTHER,4.25,184000,360,01/2018,80,80.0,1,48.0,767.0,Y,P,PU,1,P,FL,NaN,FRM,NaN,NaN,N
4,100010739040,R,OTHER,4.25,242000,360,02/2018,49,49.0,1,22.0,727.0,N,R,SF,1,P,CA,NaN,FRM,NaN,NaN,N

,id,reporting_period,servicer_name,interest_rate,balance,loan_age,months_to_maturity,adj_months_to_maturity,maturity_date,msa,delinquency_status,modification_flag,zero_balance_code,zero_balance_date,last_paid_installment_date,foreclosure_date,disposition_date,foreclosure_costs,property_repair_costs,recovery_costs,misc_costs,tax_costs,sale_proceeds,repurchase_proceeds,make_whole_flag,foreclosure_writeoff,activity_flag
0,100001040173,02/01/2018,QUICKEN LOANS INC.,4.25,NaN,0,360,360.0,02/2048,18140,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,100001040173,03/01/2018,NaN,4.25,NaN,1,359,359.0,02/2048,18140,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,100001040173,04/01/2018,NaN,4.25,NaN,2,358,358.0,02/2048,18140,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,100001040173,05/01/2018,NaN,4.25,NaN,3,357,357.0,02/2048,18140,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,100001040173,06/01/2018,NaN,4.25,NaN,4,356,356.0,02/2048,18140,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

## SQLite DataBase
NOTE: Uncomment to creat a SQLite Database on computer

In [8]:
# import sqlite3
# conn = sqlite3.connect('Secondary_Mortgage_Loans.db')
# acquisition_df

In [9]:
# acquisition_df.to_sql('Acquisition', con=conn)
# performance_df.to_sql('Performance', con=conn)

## EDA

In [5]:
acquisition_df.info()
performance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1625195 entries, 0 to 1625194
Data columns (total 23 columns):
id                      1625195 non-null int64
channel                 1625195 non-null object
seller                  1625195 non-null object
interest_rate           1625195 non-null float64
balance                 1625195 non-null int64
loan_term               1625195 non-null int64
origination_date        1625195 non-null object
ltv                     1625195 non-null int64
cltv                    1625194 non-null float64
borrower_count          1625195 non-null int64
dti                     1624702 non-null float64
borrower_score          1623501 non-null float64
first_time_homebuyer    1625195 non-null object
loan_purpose            1625195 non-null object
property_type           1625195 non-null object
unit_count              1625195 non-null int64
occupancy_type          1625195 non-null object
property_state          1625195 non-null object
insurance_percentage    504064 non-null float64
product_type            1625195 non-null object
coborrower_score        734857 non-null float64
insurance_type          504064 non-null float64
relocation_flag         1625195 non-null object
dtypes: float64(7), int64(6), object(10)
memory usage: 285.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24459263 entries, 0 to 24459262
Data columns (total 27 columns):
id                            int64
reporting_period              object
servicer_name                 object
interest_rate                 float64
balance                       float64
loan_age                      int64
months_to_maturity            int64
adj_months_to_maturity        float64
maturity_date                 object
msa                           int64
delinquency_status            object
modification_flag             object
zero_balance_code             float64
zero_balance_date             object
last_paid_installment_date    object
foreclosure_date              object
disposition_date              object
foreclosure_costs             float64
property_repair_costs         float64
recovery_costs                float64
misc_costs                    float64
tax_costs                     float64
sale_proceeds                 float64
repurchase_proceeds           float64
make_whole_flag               object
foreclosure_writeoff          float64
activity_flag                 object
dtypes: float64(12), int64(4), object(11)
memory usage: 4.9+ GB

#### Filter rows outside of 50 states + DC. 
In both Acquisition and Performance.
- Use Acquisition's Loan ID to filter out rows in Performance.

In [17]:
acquisition_df.property_state.where(~acquisition_df.property_state.isin(['PR','GU','VI'])).isna().sum()

2298

Drop State Codes with 'PR','GU', and 'VI' from both Acquisition and Performance.

In [20]:
acquisition_df.property_state = acquisition_df.property_state.where(~acquisition_df.property_state.isin(['PR','GU','VI']))
acquisition_df = acquisition_df.dropna(subset=['property_state'])
acquisition_df.shape

(1622897, 23)

In [23]:
print('Before removing: ', performance_df.shape[0])
performance_df.id = performance_df.id.where(performance_df.id.isin(acquisition_df.id))
performance_df = performance_df.dropna(subset=['id'])
print('After removing: ', performance_df.shape[0])

Before removing:  24459263
After removing:  24423998

<p>behavior of payers up to point of deliquency
<br>(using balance)
</p>

In [35]:
performance_df[performance_df.tax_costs >= 0].head(50)

,id,reporting_period,servicer_name,interest_rate,balance,loan_age,months_to_maturity,adj_months_to_maturity,maturity_date,msa,delinquency_status,modification_flag,zero_balance_code,zero_balance_date,last_paid_installment_date,foreclosure_date,disposition_date,foreclosure_costs,property_repair_costs,recovery_costs,misc_costs,tax_costs,sale_proceeds,repurchase_proceeds,make_whole_flag,foreclosure_writeoff,activity_flag
2077357,326439475745,11/01/2018,NaN,4.440,59041.30,9,351,0.0,02/2048,0,NaN,N,9.0,11/2018,04/01/2018,11/01/2018,05/01/2019,2713.00,187.00,NaN,NaN,267.48,NaN,NaN,N,NaN,NaN
2694014,393468601455,02/01/2019,NaN,5.500,187815.70,14,346,0.0,12/2047,38060,NaN,N,9.0,02/2019,04/01/2018,02/01/2019,06/01/2019,2673.35,262.00,NaN,5329.89,886.86,165601.26,NaN,N,NaN,NaN
2738665,398346266772,11/01/2018,NaN,5.750,209830.70,10,350,0.0,01/2048,38060,NaN,N,9.0,11/2018,02/01/2018,11/01/2018,01/01/2019,38909.51,3226.00,NaN,2368.75,985.37,NaN,222850.53,Y,NaN,NaN
2759965,400674025371,04/01/2019,NaN,4.250,182898.27,12,228,0.0,04/2038,0,NaN,N,3.0,04/2019,09/01/2018,04/01/2019,05/01/2019,1688.54,NaN,1500.0,NaN,2346.26,185029.06,NaN,N,NaN,NaN
3654585,499003877036,01/01/2019,NaN,3.625,139566.32,12,168,0.0,01/2033,17900,NaN,N,2.0,01/2019,03/01/2018,01/01/2019,01/01/2019,4277.94,NaN,NaN,1404.65,4342.85,121770.00,NaN,N,NaN,NaN
3909188,527056047566,10/01/2018,NaN,4.625,250988.00,6,354,0.0,04/2048,40340,NaN,N,9.0,10/2018,04/01/2018,10/01/2018,05/01/2019,4740.42,3316.00,NaN,1904.43,2897.00,NaN,NaN,N,NaN,NaN
4012974,538464629924,10/01/2018,NaN,4.500,96515.75,11,349,0.0,11/2047,22220,NaN,N,9.0,10/2018,02/01/2018,10/01/2018,05/01/2019,5896.65,12655.29,5000.0,1351.30,1824.08,91557.86,NaN,N,NaN,NaN
5163440,664102403247,06/01/2019,NaN,4.000,295114.55,17,343,0.0,01/2048,14460,NaN,N,2.0,06/2019,04/01/2018,06/01/2019,06/01/2019,15974.13,706.00,NaN,1202.20,3556.33,285000.00,NaN,N,NaN,NaN
5501442,701492592982,01/01/2019,NaN,4.875,72299.08,12,348,0.0,01/2048,24340,NaN,N,9.0,01/2019,06/01/2018,01/01/2019,06/01/2019,1724.57,7187.13,1500.0,48.71,1016.97,64741.19,NaN,N,NaN,NaN
7004809,865791407631,04/01/2019,NaN,4.990,99877.60,15,345,0.0,01/2048,16980,NaN,N,2.0,04/2019,02/01/2018,04/01/2019,04/01/2019,7437.86,NaN,NaN,84.47,3423.89,92000.00,NaN,N,NaN,NaN
8002293,975432128939,05/01/2019,NaN,4.875,103614.80,14,346,0.0,03/2048,0,NaN,N,2.0,05/2019,06/01/2018,05/01/2019,05/01/2019,5108.06,NaN,NaN,-776.72,3105.37,108552.00,NaN,N,NaN,NaN
9157463,234443067113,05/01/2019,NaN,4.875,152622.98,12,348,0.0,05/2048,39900,NaN,N,2.0,05/2019,07/01/2018,05/01/2019,05/01/2019,6876.07,NaN,NaN,313.68,358.76,162411.33,NaN,N,NaN,NaN
10827639,477460460628,02/01/2019,NaN,4.990,299006.88,8,352,0.0,06/2048,12060,NaN,N,3.0,02/2019,08/01/2018,02/01/2019,03/01/2019,572.45,NaN,2500.0,-1237.36,3100.31,284079.95,NaN,N,NaN,NaN
11197371,531715669763,02/01/2019,NaN,4.875,223946.00,8,352,0.0,06/2048,41180,NaN,N,2.0,02/2019,06/01/2018,02/01/2019,02/01/2019,8023.51,NaN,NaN,-2012.76,3698.26,221500.00,NaN,N,NaN,NaN
11431059,565826495060,01/01/2019,NaN,4.875,176851.52,10,350,0.0,03/2048,32820,NaN,N,9.0,01/2019,06/01/2018,01/01/2019,06/01/2019,3776.71,18480.42,NaN,296.66,2156.70,199006.42,NaN,N,NaN,NaN
11589827,588499530001,11/01/2018,NaN,5.000,139831.78,7,353,0.0,04/2048,40060,NaN,N,9.0,11/2018,05/01/2018,11/01/2018,04/01/2019,3772.87,262.00,NaN,1381.35,427.72,126771.83,NaN,N,NaN,NaN
11897390,633801964841,03/01/2019,NaN,5.500,212272.69,10,350,0.0,05/2048,38060,NaN,N,2.0,03/2019,07/01/2018,03/01/2019,03/01/2019,3305.00,NaN,NaN,-265.60,1005.46,223928.60,NaN,N,NaN,NaN
12141225,669096477508,03/01/2019,NaN,5.375,78761.64,11,349,0.0,04/2048,26900,NaN,N,3.0,03/2019,05/01/2018,03/01/2019,04/01/2019,2620.61,NaN,750.0,636.60,343.27,69780.00,NaN,N,NaN,NaN
13571706,874641739823,04/01/2019,NaN,5.375,134500.00,12,348,0.0,04/2048,48140,NaN,N,2.0,04/2019,04/01/2018,04/01/2019,04/01/2019,7542.67,650.00,NaN,44.04,2840.09,112200.00,NaN,N,NaN,NaN
14524646,112853903241,04/01/2019,NaN,5.875,207360.68,9,351,0.0,07/2048,47900,NaN,N,3.0,04/2019,10/01/2018,04/01/2019,04/01/2019,434.23,NaN,2500.0,-918.26,1047.00,158869.87,NaN,N,NaN,NaN

In [36]:
performance_df[performance_df.tax_costs >= 0].shape

(20, 27)

In [59]:
print(performance_df.delinquency_status.isna().sum(), ' rows of NaN in "Delinquency Status"')
performance_df['delinquency_status'].value_counts()

199  rows of NaN in "Delinquency Status"

0     24057609
X       222530
1       131948
2        21976
3         8633
4         5129
5         3623
6         2372
7         1622
8         1174
9          797
10         593
11         405
12         270
13         164
14          96
15          60
16          35
17          17
18           7
19           4
Name: delinquency_status, dtype: int64

In [60]:
performance_df[performance_df['delinquency_status'] == '19'].id

4563857    598653679058
4579447    600403591410
5481370    699191263691
7234078    890795654928
Name: id, dtype: int64

In [61]:
performance_df[performance_df.id == 598653679058]

,id,reporting_period,servicer_name,interest_rate,balance,loan_age,months_to_maturity,adj_months_to_maturity,maturity_date,msa,delinquency_status,modification_flag,zero_balance_code,zero_balance_date,last_paid_installment_date,foreclosure_date,disposition_date,foreclosure_costs,property_repair_costs,recovery_costs,misc_costs,tax_costs,sale_proceeds,repurchase_proceeds,make_whole_flag,foreclosure_writeoff,activity_flag
4563838,598653679058,02/01/2018,OTHER,5.5,NaN,1,359,359.0,01/2048,26420,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563839,598653679058,03/01/2018,NaN,5.5,NaN,2,358,359.0,01/2048,26420,1,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563840,598653679058,04/01/2018,NaN,5.5,NaN,3,357,359.0,01/2048,26420,2,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563841,598653679058,05/01/2018,NaN,5.5,NaN,4,356,359.0,01/2048,26420,3,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563842,598653679058,06/01/2018,NaN,5.5,NaN,5,355,359.0,01/2048,26420,4,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563843,598653679058,07/01/2018,NaN,5.5,NaN,6,354,359.0,01/2048,26420,5,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563844,598653679058,08/01/2018,NaN,5.5,142344.02,7,353,359.0,01/2048,26420,6,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563845,598653679058,09/01/2018,NaN,5.5,142344.02,8,352,359.0,01/2048,26420,7,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563846,598653679058,10/01/2018,NaN,5.5,142344.02,9,351,359.0,01/2048,26420,8,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563847,598653679058,11/01/2018,NaN,5.5,142344.02,10,350,359.0,01/2048,26420,9,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563848,598653679058,12/01/2018,NaN,5.5,142344.02,11,349,359.0,01/2048,26420,10,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563849,598653679058,01/01/2019,NaN,5.5,142344.02,12,348,359.0,01/2048,26420,11,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563850,598653679058,02/01/2019,NaN,5.5,142344.02,13,347,359.0,01/2048,26420,12,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563851,598653679058,03/01/2019,NaN,5.5,142344.02,14,346,359.0,01/2048,26420,13,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
4563852,598653679058,04/01/2019,NaN,5.5,142344.02,15,345,359.0,01/2048,26420,14,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563853,598653679058,05/01/2019,NaN,5.5,142344.02,16,344,359.0,01/2048,26420,15,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563854,598653679058,06/01/2019,NaN,5.5,142344.02,17,343,359.0,01/2048,26420,16,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563855,598653679058,07/01/2019,NaN,5.5,142344.02,18,342,359.0,01/2048,26420,17,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563856,598653679058,08/01/2019,NaN,5.5,142344.02,19,341,359.0,01/2048,26420,18,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4563857,598653679058,09/01/2019,NaN,5.5,142344.02,20,340,359.0,01/2048,26420,19,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [62]:
performance_df[performance_df.id == 600403591410]

,id,reporting_period,servicer_name,interest_rate,balance,loan_age,months_to_maturity,adj_months_to_maturity,maturity_date,msa,delinquency_status,modification_flag,zero_balance_code,zero_balance_date,last_paid_installment_date,foreclosure_date,disposition_date,foreclosure_costs,property_repair_costs,recovery_costs,misc_costs,tax_costs,sale_proceeds,repurchase_proceeds,make_whole_flag,foreclosure_writeoff,activity_flag
4579427,600403591410,01/01/2018,OTHER,4.5,NaN,0,360,360.0,01/2048,12940,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579428,600403591410,02/01/2018,NaN,4.5,NaN,1,359,359.0,01/2048,12940,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579429,600403591410,03/01/2018,NaN,4.5,NaN,2,358,359.0,01/2048,12940,1,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
4579430,600403591410,04/01/2018,NaN,4.5,NaN,3,357,359.0,01/2048,12940,2,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579431,600403591410,05/01/2018,NaN,4.5,NaN,4,356,359.0,01/2048,12940,3,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579432,600403591410,06/01/2018,NaN,4.5,NaN,5,355,359.0,01/2048,12940,4,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579433,600403591410,07/01/2018,NaN,4.5,135786.25,6,354,359.0,01/2048,12940,5,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579434,600403591410,08/01/2018,NaN,4.5,135786.25,7,353,359.0,01/2048,12940,6,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579435,600403591410,09/01/2018,NaN,4.5,135786.25,8,352,359.0,01/2048,12940,7,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579436,600403591410,10/01/2018,NaN,4.5,135786.25,9,351,359.0,01/2048,12940,8,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579437,600403591410,11/01/2018,NaN,4.5,135786.25,10,350,359.0,01/2048,12940,9,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579438,600403591410,12/01/2018,NaN,4.5,135786.25,11,349,359.0,01/2048,12940,10,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579439,600403591410,01/01/2019,NaN,4.5,135786.25,12,348,359.0,01/2048,12940,11,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579440,600403591410,02/01/2019,NaN,4.5,135786.25,13,347,359.0,01/2048,12940,12,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579441,600403591410,03/01/2019,NaN,4.5,135786.25,14,346,359.0,01/2048,12940,13,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579442,600403591410,04/01/2019,NaN,4.5,135786.25,15,345,359.0,01/2048,12940,14,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579443,600403591410,05/01/2019,NaN,4.5,135786.25,16,344,359.0,01/2048,12940,15,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579444,600403591410,06/01/2019,NaN,4.5,135786.25,17,343,359.0,01/2048,12940,16,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579445,600403591410,07/01/2019,NaN,4.5,135786.25,18,342,359.0,01/2048,12940,17,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579446,600403591410,08/01/2019,NaN,4.5,135786.25,19,341,359.0,01/2048,12940,18,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4579447,600403591410,09/01/2019,NaN,4.5,135786.25,20,340,359.0,01/2048,12940,19,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [63]:
performance_df[performance_df['delinquency_status'] == '15'].id

185947      120341848961
903514      199058658037
1126450     223024869219
1258907     237555381482
1313689     243409008142
1967223     314456798329
2065952     325280332954
2154642     334909245781
2154643     334909245781
2412369     363016580690
2558821     378781860090
2618849     385255920402
2773824     402128080738
2779797     402782418970
2793243     404217191946
3147380     443409038613
3792345     513813124845
4079628     545630791728
4268798     566401487963
4293255     569248895286
4361883     576754724712
4563853     598653679058
4579443     600403591410
4701406     613484900870
4845505     629176538053
5145889     662217074690
5413793     691876267162
5481366     699191263691
5495910     700863889182
5524039     704070600225
5615377     714105613494
5660227     719157579141
6094242     766435724475
6174040     775241641426
6213608     779637995479
6581822     819971615278
6604522     822303781745
7234074     890795654928
7469093     916382509637
7813233     954356591420
8217379     999254855075
8312677     112848862875
8316572     113405626370
8536257     145148659372
8861218     191967683945
9300838     255203398606
9567025     294045656067
9709738     314972355892
10077279    367516047308
10617325    446741137241
11239403    537830434135
11827664    623550199642
11947333    641113379009
12024406    652173540616
12142120    669214428994
12245123    683988369336
12245124    683988369336
12774553    760297842020
13465699    859438563443
13919741    924951894794
Name: id, dtype: int64

In [64]:
performance_df[performance_df.id == 120341848961]

,id,reporting_period,servicer_name,interest_rate,balance,loan_age,months_to_maturity,adj_months_to_maturity,maturity_date,msa,delinquency_status,modification_flag,zero_balance_code,zero_balance_date,last_paid_installment_date,foreclosure_date,disposition_date,foreclosure_costs,property_repair_costs,recovery_costs,misc_costs,tax_costs,sale_proceeds,repurchase_proceeds,make_whole_flag,foreclosure_writeoff,activity_flag
185931,120341848961,02/01/2018,OTHER,5.25,NaN,0,360,359.0,02/2048,19100,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185932,120341848961,03/01/2018,NaN,5.25,NaN,1,359,359.0,02/2048,19100,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185933,120341848961,04/01/2018,NaN,5.25,NaN,2,358,359.0,02/2048,19100,1,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185934,120341848961,05/01/2018,NaN,5.25,NaN,3,357,359.0,02/2048,19100,2,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
185935,120341848961,06/01/2018,NaN,5.25,NaN,4,356,359.0,02/2048,19100,3,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185936,120341848961,07/01/2018,NaN,5.25,NaN,5,355,359.0,02/2048,19100,4,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185937,120341848961,08/01/2018,NaN,5.25,114868.10,6,354,359.0,02/2048,19100,5,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185938,120341848961,09/01/2018,NaN,5.25,114868.10,7,353,359.0,02/2048,19100,6,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185939,120341848961,10/01/2018,NaN,5.25,114868.10,8,352,359.0,02/2048,19100,7,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185940,120341848961,11/01/2018,NaN,5.25,114868.10,9,351,359.0,02/2048,19100,8,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185941,120341848961,12/01/2018,NaN,5.25,114868.10,10,350,359.0,02/2048,19100,9,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185942,120341848961,01/01/2019,NaN,5.25,114868.10,11,349,359.0,02/2048,19100,10,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185943,120341848961,02/01/2019,NaN,5.25,114868.10,12,348,359.0,02/2048,19100,11,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185944,120341848961,03/01/2019,NaN,5.25,114868.10,13,347,359.0,02/2048,19100,12,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185945,120341848961,04/01/2019,NaN,5.25,114868.10,14,346,359.0,02/2048,19100,13,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185946,120341848961,05/01/2019,NaN,5.25,114868.10,15,345,359.0,02/2048,19100,14,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185947,120341848961,06/01/2019,NaN,5.25,114868.10,16,344,359.0,02/2048,19100,15,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185948,120341848961,07/01/2019,NaN,5.25,114868.10,17,343,359.0,02/2048,19100,16,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185949,120341848961,08/01/2019,NaN,5.25,114868.10,18,342,359.0,02/2048,19100,17,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
185950,120341848961,09/01/2019,NaN,5.25,112392.63,19,341,341.0,02/2048,19100,0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [68]:
performance_df[performance_df.months_to_maturity < 300].months_to_maturity.value_counts()

177    165831
176    165552
175    165049
178    164619
174    164292
        ...
46          2
45          2
44          1
43          1
42          1
Name: months_to_maturity, Length: 258, dtype: int64